@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,500&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
h1, h2, h3, h4{
    font-weight: bold;
    color: white;
}
body{
    font-family: 'Heebo', sans-serif;
    background-color: rgb(48, 48, 48);
    color: rgb(201, 201, 201);
    text-align: justify;
}
.cabecalho{
    background-image: linear-gradient(180deg, rgb(194, 0, 219), rgb(153, 0, 173), rgb(93, 1, 105));
}
.titulo_header{
    text-align: center;
    padding: 10px 0px;
    font-size: 3.7em;
    color: rgb(255, 255, 255);
    font-family: 'Barlow', sans-serif;
}

.nav_cabecalho{
    padding: 0px 15px;
    font-size: 1.7em;
    background-color: rgb(34, 34, 34);
}
.nav_cabecalho a{
    color: rgb(255, 255, 255);
    margin-right: 15px;
    padding: 1px 5px 1px 5px;
    text-decoration: none;
}
.nav_cabecalho a:hover{
    background-color: rgba(179, 179, 179, 0.308);
    border-radius: 5px;
    color: rgb(190, 190, 190);
}
.titulo_principal{
    text-align: center;
    font-size: 2.5em;
    margin-top: 30px;
}
.texto_principal{
    font-size: 1.2em;
    margin: 0px 20px;
    margin-bottom: 50px;
    text-indent: 20px;
    line-height: 35px;
}
.div_texto_imagem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.img_canal{
    width: 210px;
    height: 200px;
    border-radius: 50%;
    margin: 0px 30px;
    cursor: move;
}
.texto{
    display: flex;
    flex-direction: column;
    margin-top: 47px;
    font-size: 1.1em;
    line-height: 35px;
}
.link_div{
    color: rgb(245, 47, 255);
}
.pix{
    text-align: center;
    margin: 40px 0px;
}
.rodape{
    background-color: rgb(34, 34, 34);
    text-align: center;
    padding: 20px 0px;
    font-size: 1.2em;
}
.texto_rodape a{
    color: rgb(245, 47, 255);

}

@media (max-width: 900px){

    .div_texto_imagem{
        display: block;
    }
    .section_texto_imagem{
        text-align: center;
    }
    .img_canal{
        width:170px;
        height:160px;
    }

}
